
<h1>""</h1>

<p id="notice"><%= notice %></p>

<div id="welcome">
  <!-- <h1>Welcome to Just did it!</h1> -->
</div>

<table>
  <thead>
    <!-- title design -->
  <center><div class="long-shadow">JUST DID IT!!</div><center>
<link async href="http://fonts.googleapis.com/css?family=Fredoka%20One" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
<!-- title design -->

    <tr>
      <!-- <th>Name</th> -->
      <!-- <th>Bio</th> -->
      <!-- <th>User</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doers.each do |doer| %>
      <tr>
        <!-- <td><%= doer.name %></td> -->
        <!-- <td><%= doer.bio %></td> -->
        <!-- <td><%= link_to 'Show', doer %></td> -->
        <!-- <td><%= link_to 'Edit', edit_doer_path(doer) %></td> -->
        <!-- <td><%= link_to 'Destroy', doer, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>

<style>
.long-shadow {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 25px;
  border: none;
  font: normal 60px/1 "Fredoka One", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 3px 3px 0 rgba(34,38,40,0.91) , 3px 3px 0 rgba(34,38,40,0.91) , 3px 3px 0 rgba(34,38,40,0.91) , 4px 4px 0 rgba(42,44,45,0.91) , 6px 6px 0 rgba(42,44,45,0.91) , 7px 7px 0 rgba(42,44,45,0.91) , 8px 8px 0 rgba(42,44,45,0.91) , 9px 9px 0 rgba(42,44,45,0.91) , 10px 10px 0 rgba(42,44,45,0.91) , 11px 11px 0 rgba(42,44,45,0.91) , 12px 12px 0 rgba(42,44,45,0.91) , 13px 13px 0 rgba(42,44,45,0.91) , 14px 14px 0 rgba(42,44,45,0.91) , 15px 15px 0 rgba(42,44,45,0.91) , 16px 16px 0 rgba(42,44,45,0.91) , 17px 17px 0 rgba(42,44,45,0.91) ;
   font-size: 97px;
}

</style>

  </tbody>
</table>

<br>
<!-- <p>
<%= link_to 'New Doer', new_doer_path %>
<br>
<%= link_to 'Create a New Goal', new_goal_url %>
</p> -->
