<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doer.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @doer.bio %>
</p>

<%= link_to 'Edit', edit_doer_path(@doer) %> |
<%= link_to 'Back', doers_path %>
