<%= form_for @user, html: { multipart: true } do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= form.label "Status", class: 'control-label' %>
    <div class="controls">
      <%= form.select(:status_type, options_for_select([['GOAL', 'GOAL'], ['PENDING', 'PENDING']])) %>
    </div>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :user_name %>
  </div>

  <!-- used for uploading images -->
  <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :user_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
