<p id="notice"><%= notice %></p>

<center><h1>Users Profile</h1><center>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Info</th>
      <th>Url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.title %></td>
        <td><%= user.subtitle %></td>
        <td><%= user.info %></td>
        <td><%= image_tag user.image %></td>
        <td><%= user.description %></td>
        <td><%= link_to 'Show MileStone Details', user %></td>
        <!-- links to show view -->
        <td><%= link_to 'Edit MileStone', edit_user_path(user) %></td>
        <!-- links to edit -->
        <td><%= link_to 'Delete MileStone', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <!-- links to desrtoy -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create new MileStone', new_user_path %>
<!-- links to create new user -->
