<!DOCTYPE html>
<html>
<!-- place Bootstrap classes inside <head>-->

  <head>

    <title>Goalblast</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/small-business.css" rel="stylesheet">

  </head>

  <body>



    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <!-- <img src="http://placehold.it/150x50&text=Logo" alt=""> -->
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="http://localhost:3000/goals">View Goals</a>
                    </li>
                    <li>
                        <a href="http://localhost:3000/users/sign_in">Log in</a>
                    </li>
                    <li>
                        <a href="http://localhost:3000/">Log out</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>



    <!-- place CSS inside "<style>" -->


    <style>



</style>

<%= yield %>





    <ul class="nav-bar">
      <% if user_signed_in? %>
        <li><%= link_to current_user.email, edit_user_registration_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <!-- end user session -->
      <% else %>
        <li><%= link_to 'Sign-Up', new_user_registration_path %></li>
        <!-- Sign and create a new user -->
        <li><%= link_to 'Login', new_user_session_path %></li>
        <!-- open a user session -->
      <% end %>
    </ul>


    <div class="container">
      <% if notice %>
        <div class="alert notice">
          <%= notice %>
        </div>
      <% end %>

      <% if notice %>
        <div class="alert warning">
          <%= alert %>
        </div>
      <% end %>

      <!-- place CSS inside "<style>" -->

      <style>
      body {
        background-image: url("http://jackcanfield.com/wp-content/uploads/2015/07/blog-why5isthemagicnumber.jpg");
      }

.field{
  color: black;
}

#user_password{
  color:black;
}
#user_email{
  color:black;
}

      </style>
<<<<<<< HEAD
=======

>>>>>>> bf60eb0ccf0d9c5e83a17316e5d8191e3d77e2b7


    </div>



  </body>

</html>
